[Unit]
Description=Spring Boot Application

[Service]
User=springbootapp
ExecStart=/usr/bin/java -jar /home/asisken/IbmInformixDbConnector/target/DbConnector-0.0.1-SNAPSHOT.jar
Restart=always

[Install]
WantedBy=multi-user.target